<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="Unimake.Cryptography" version="20220726.1604.57" targetFramework="net48" />
  <package id="Unimake.DFe" version="20220729.1002.39" targetFramework="net48" />
  <package id="Unimake.Extensions" version="20220726.1604.57" targetFramework="net48" />
  <package id="Unimake.Security.Platform" version="20220317.1710.21" targetFramework="net48" />
  <package id="Unimake.Utils" version="20220726.1604.57" targetFramework="net48" />
</packages>